
/* 
Portrait iPad Layout: 768px to a max of 1023px.  
Inherits styles from: global/mobile/650w 
*/

@media only screen and (min-width: 767px) {

.gridContainer {
	width:768px;
	height:916px;
	overflow:hidden;
	background-color:#F1F2F4;
}
#top_keyline {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:1px;
	background-color:#000;
}
#header {
	position:absolute;
	top:46px;
	left:66px;
	width:636px;
	height:150px;
	background-repeat:no-repeat;
	font-family: "Guardian Sans Web", sans-serif;
	font-weight: 600;
    font-size: 62px;
	text-align:center;
}
#header_mobile {
	float:none;
	padding-top:0px;
	position:absolute;
	top:-100px;
	width:0px;
	height:0px;
	overflow:hidden;
}
#header_intro_type {
	float:none;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	position:absolute;
	top:124px;
	left:66px;
	width:636px;
	height:auto;
	color:#000;
    font-family: "Guardian Sans Web", sans-serif;
	font-style: Light;
	font-weight: 300;
    font-size: 22px;
	text-align:center;
}
.header_intro_name {
	width:100%;
	color:#000;
    font-family: "Guardian Sans Web", sans-serif;
	font-style: Bold;
	font-weight: 700;
    font-size: 22px;
	text-align:center;
}
#content_container {
	float:none;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	position:absolute;
	top:172px;
	left:16px;
	width:740px;
	height:628px;
	overflow:hidden;
	background-color:#FFF;
}
#button_holder {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 60px;
	text-align: center;
}
.button_off {
	position: relative;
	width:120px;
	height:27px;
	border-style:solid;
	border-width:1px;
	border-radius:4px;
	border-color:#CCC;
	overflow:hidden;
	padding-top:10px;
	font-family: "Guardian Sans Cond Web", sans-serif;
	font-style: Bold;
	font-weight: 700;
	font-size: 19px;
	color:#CCC;
	text-align: center;
	margin-top:4px;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.button_off:hover {
	opacity:.7;
}
.button_on {
	position: relative;
	width:180px;
	height:31px;
	border-style:solid;
	border-width:1px;
	border-radius:4px;
	border-color:#FFF;
	background-color:#000;
	overflow:hidden;
	padding-top:11px;
	font-family: "Guardian Sans Cond Web", sans-serif;
	font-style: Bold;
	font-weight: 700;
	font-size: 22px;
	color:#FFF;
	text-align: center;
	margin-top:4px;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.car_image1_small {
	float:none;
	position:absolute;
	top:86px;
	left:16px;
	width:344px;
	height:257px;
	background-color:#CCC;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.car_image2_small {
	float:none;
	position:absolute;
	top:86px;
	right:16px;
	width:344px;
	height:257px;
	background-color:#CCC;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.car_image1_big {
	float:none;
	position:absolute;
	top:86px;
	left:16px;
	width:708px;
	height:526px;
	background-color:#CCC;
	z-index:20;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.car_image2_big {
	float:none;
	position:absolute;
	top:86px;
	right:16px;
	width:708px;
	height:526px;
	z-index:20;
	background-color:#CCC;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
#car1_magnify_icon {
	position:absolute;
	top:303px;
	left:16px;
	width:40px;
	height:40px;
	z-index:2;
	background-image:url(../images/magnify.svg)
}
#car2_magnify_icon {
	position:absolute;
	top:303px;
	right:16px;
	width:40px;
	height:40px;
	z-index:2;
	background-image:url(../images/magnify.svg)
}
#car1_enlarge_button {
	position:absolute;
	top:86px;
	left:16px;
	width:344px;
	height:257px;
	z-index:3;
}
#car2_enlarge_button {
	position:absolute;
	top:86px;
	right:16px;
	width:344px;
	height:257px;
	z-index:3;
}
#car1_close_button_icon {
	position:absolute;
	top:89px;
	right:20px;
	width:40px;
	height:40px;
	z-index:25;
	background-image:url(../images/close_icon.svg)
}
#car2_close_button_icon {
	position:absolute;
	top:89px;
	right:20px;
	width:40px;
	height:40px;
	z-index:25;
	background-image:url(../images/close_icon.svg)
}
#car1_close_button {
	position:absolute;
	top:86px;
	left:16px;
	width:708px;
	height:526px;
	z-index:30;
	
}
#car2_close_button {
	position:absolute;
	top:86px;
	right:16px;
	width:708px;
	height:526px;
	z-index:30;
	
}
#car_name1 {
	float:none;
	position:absolute;
	top:16px;
	left:16px;
	width:344px;
	height:70px;
	font-family: "Guardian Sans Cond Web", sans-serif;
	font-style: Bold;
	font-weight: 700;
	font-size: 19px;
	line-height:16px;
	color:#666;
	text-align: left;
	text-transform: uppercase;
}
#car_name2 {
	float:none;
	position:absolute;
	top:16px;
	right:16px;
	width:344px;
	height:70px;
	font-family: "Guardian Sans Cond Web", sans-serif;
	font-style: Bold;
	font-weight: 700;
	font-size: 19px;
	line-height:16px;
	color:#666;
	text-align: right;
	text-transform: uppercase;
}
.copy_car1_in {
	float:none;
	position:absolute;
	top:360px;
	left:16px;
	width:244px;
	height:240px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	color:#000000;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align:center;
	-webkit-transition: all 0.3s ease-in-out 0.2s;
	transition: all 0.3s ease-in-out 0.2s;
}
.copy_car1_out {
	float:none;
	position:absolute;
	top:360px;
	left:-245px;
	width:244px;
	height:240px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	color:#000000;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align:center;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.copy_car2_in {
	float:none;
	position:absolute;
	top:360px;
	right:16px;
	width:244px;
	height:240px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	color:#000000;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align:center;
	-webkit-transition: all 0.3s ease-in-out 0.2s;
	transition: all 0.3s ease-in-out 0.2s;
}
.copy_car2_out {
	float:none;
	position:absolute;
	top:360px;
	right:-245px;
	width:244px;
	height:240px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	color:#000000;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align:center;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.verdict_holder_out {
	float:none;
	position:absolute;
	width:740px;
	height:628px;
	top:568px;
	left:0px;
	z-index:10;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.verdict_holder_in {
	float:none;
	position:absolute;
	width:740px;
	height:628px;
	top:0px;
	left:0px;
	background-color:#FFF;
	z-index:10;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.verdict_button_off {
	float:none;
	position: absolute;
	top:0px;
	left:308px;
	width:120px;
	height:27px;
	background-color:#FFF;
	border-style:solid;
	border-width:1px;
	border-radius:4px;
	border-color:#CCC;
	overflow:hidden;
	padding-top:10px;
	font-family: "Guardian Sans Cond Web", sans-serif;
	font-style: Bold;
	font-weight: 700;
	font-size: 19px;
	color:#CCC;
	text-align: center;
	margin-top:4px;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.verdict_button_off:hover {
	opacity:0.7;
}
.verdict_button_on {
	float:none;
	position: absolute;
	width:100%;
	left:0px;
	top:0px;
	height:34px;
	background-color:#000;
	overflow:hidden;
	padding-top:11px;
	font-family: "Guardian Sans Cond Web", sans-serif;
	font-style: Bold;
	font-weight: 700;
	font-size: 22px;
	color:#FFF;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.verdict_image_holder_out {
	float:none;
	position:absolute;
	top:60px;
	width:740px;
	height:583px;
	background-color:#666;
}
.verdict_image_holder_in {
	float:none;
    position:absolute;
	top:45px;
	width:740px;
	height:583px;
	background-color:#666;
}
#verdict_close_button_icon {
	position:absolute;
	top:3px;
	right:16px;
	width:40px;
	height:40px;
	background-image:url(../images/close_icon.svg);
	z-index:63;
}
#verdict_close_button {
	position:absolute;
	top:0px;
	right:0px;
	width:740px;
	height:583px;
	z-index:65;
}

#verdict_copy {
	float:none;
	position:absolute;
	left:30px;
	bottom:16px;
	width:646px;
	height:auto;
	padding-top:16px;
	padding-bottom:16px;
	padding-right:16px;
	padding-left:16px;
	background: rgba(225, 225, 225, .9);
	color:#000000;
	font-family: "Guardian Sans Cond Web", sans-serif;
	font-size: 26px;
	text-align:center;
}
.mobile_subheader {
	float:none;
	position:absolute;
	width:0px;
	height:0px;
	font-family: "Guardian Sans Web", sans-serif;
	font-style: Bold;
	font-weight: 700;
    font-size: 18px;
	text-align:center;
	color:#999;
	overflow:hidden;
}
